<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="../static/output.css" rel="stylesheet">

        <title>Skills Tracker</title>
    </head>

    <body class="bg-slate-400">

        <div class="flex">

            <!-- Sidebar -->
            <div class="bg-gradient-to-b from-teal-950 to-slate-900 min-h-screen text-white w-64">
                <nav>
                    <ul>
                        <li>Home</li>
                        <li>My Skills</li>
                        <ul>
                            <li>Add</li>
                        </ul>
                    </ul>
                </nav>
            </div>
            
    
            <!-- Content -->
            <header>

            </header>

            <main>

            </main>

            <footer>

            </footer>
        </div>

    </body>

    </body>

</html>