@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    background-color: black;
}

.pageTitle {
    @apply text-4xl font-bold text-fuchsia-700
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-geist {
    font-family: 'Geist', 'Inter', sans-serif;
}